@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // scroll-behavior: smooth;
}

//variable declare

$navbgcolor: rgb(102, 96, 96);
$mainfont: "Montserrat", sans-serif;

body {
  font-family: $mainfont;
}

html {
  scroll-behavior: smooth;
}

.l-heading {
  font-size: 2rem;
}

.navbar {
  background-color: $navbgcolor;
  padding: 1rem 1rem;
  position: fixed;
  width: 100%;
  top: 0;

  ul {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: flex-end;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    padding: 0rem 0.2rem;

    &:hover {
      color: rgb(0, 0, 0);
      font-weight: bold;
    }
  }
}

.showcase {
  background: url(https://source.unsplash.com/HXUlx1McLdc/1600x900) no-repeat
    center center/cover;
  height: 100vh;

  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2.5;
  overflow: hidden;
  padding: 0rem 10rem;
  & p {
    font-size: 1rem;
    font-weight: bold;
  }
  & h3 {
    font-size: 4rem;
  }
}
#showcase-2 {
  background-color: rgb(158, 156, 156);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5rem;
  padding: 1rem 10rem;
  justify-content: center;
  color: white;
  & h3 {
    padding: 1rem 0rem;
    font-size: 4rem;
    &:hover {
      color: rgb(0, 0, 0);
      cursor: pointer;
    }
  }

  & h4 {
    margin: 1rem 0rem;
    font-size: 2rem;
  }

  & button {
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgb(219, 78, 78);
    font-weight: bold;
    margin: 1.5rem 0rem;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgb(112, 110, 110);
    font-size: 1.2rem;
    font-family: $mainfont;
    color: white;
    &:hover {
      box-shadow: 0px 5px 10px rgb(88, 86, 86);
    }
  }

  & p {
    font-size: 1.1rem;
  }
}

#showcase-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(212, 212, 212);
  width: 100%;
  padding: 0rem 10rem;
  & h3 {
    font-size: 4rem;
    padding: 5rem 0rem;
    cursor: pointer;

    &:hover {
      color: white;
    }
  }
  & p {
    font-size: 1.3rem;
    color: rgb(66, 61, 61);
  }

  & button {
    background-color: blue;
    outline: none;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    color: white;
    font-family: $mainfont;
    font-size: 1.5rem;
    margin: 1rem 0rem;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgb(153, 146, 146);
    &:hover {
      box-shadow: 0px 5px 10px rgb(80, 77, 77);
    }
  }
}
#showcase-4 {
  background: url("https://source.unsplash.com/LIZgoUJy8hE/1600x900") no-repeat
    center center/cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 10rem;
  & h3 {
    font-size: 3rem;
    &:hover {
      color: rgb(214, 210, 210);
      cursor: pointer;
    }
  }
  & p {
    margin: 2rem 0rem;
    line-height: 2;
  }
}

#gift-card {
  display: flex;
  gap: 3rem;
  .img {
    img {
      width: 100%;
      height: 100%;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    padding: 3rem 3rem;
    gap: 1rem;

    & h3 {
      font-size: 2rem;
      margin: 2rem 0rem;
    }
    .hor-line {
      display: inline-block;
      height: 1px;
      background-color: black;
      width: 100%;
    }
    .fa-chevron-right {
      padding-right: 0.5rem;
    }
    .active {
      cursor: pointer;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.footer-showcase {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  padding: 2rem 0rem;
  background-color: rgb(97, 91, 91);
  color: white;
  //   line-height: 1.2;
  h3 {
    line-height: 0.5;
  }
  .hor-line {
    display: inline-block;
    height: 1px;
    background-color: white;
    width: 100%;
  }
  ul {
    padding-top: 0.7rem;
  }
  li {
    list-style: none;
    a {
      text-decoration: none;
      color: white;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.footer-nav {
  background-color: rgb(77, 72, 72);
  padding: 1rem;
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  .navbar {
    position: static;
    ul {
      display: flex;
      flex-direction: column;
    }
  }

  .showcase {
    padding: 0px 2rem;
  }

  #showcase-2 {
    padding: 5rem 2rem;
    top: 0;
    overflow: hidden;
    padding-top: 4rem;
    & h3 {
      font-size: 3rem;
    }
    & h4 {
      font-size: 1rem;
    }

    & p {
      font-size: 0.9rem;
    }
  }

  #showcase-3 {
    padding: 2rem;
    overflow: hidden;
    margin: 0rem;
    justify-content: flex-start;
    & h3 {
      font-size: 2rem;
      padding: 1rem 0rem;
    }

    & p {
      font-size: 1.1rem;
    }

    & button {
      margin-top: 2rem;
    }
  }

  #showcase-4 {
    padding: 1.5rem 2rem;
    width: 100%;

    & h3 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
    }
  }

  #gift-card {
    display: block;

    .content {
      padding: 1rem;
    }
  }

  .footer-showcase {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;

    #footer {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    & h3 {
      padding-left: 1rem;
    }

    .hor-line {
      margin: 1rem 0rem;
    }

    & ul {
      margin: -0.5rem 0rem;
      line-height: 1.5;
      padding-left: 1rem;
    }
  }

  .footer-nav {
    height: 7rem;
    width: 100%;
    padding: 2rem 2rem;
    display: flex;
  }
}
@media (max-width: 766px) {
  .showcase {
    padding: 0rem 2rem;
  }

  #showcase-2 {
    padding: 2rem 2rem;
  }

  #showcase-3 {
    padding: 1rem 2rem;
  }

  #showcase-4 {
    padding: 1rem 2rem;
  }
}
@media (max-width: 707px) {
  .footer-showcase {
    & h3 {
      line-height: 1.2;
    }
  }
}
